
/*
* Buttons
*/
.btn{
    text-transform: uppercase;
}

button#add-to-cart-button.btn.btn-success{
    color: $mediumgray;
    background-color: $white; 
    border-color: $mediumgray;
}

button#add-to-cart-button.btn.btn-success:hover, button#add-to-cart-button.btn.btn-success:focus{
    color: $white;
    background-color: $mediumgray; 
    border-color: $mediumgray;
}

.btn-rad{
    color: $mediumgray;
    border: 3px solid $mediumgray;
	border-radius:0px;
	min-width:150px;
}

.btn-blue:hover, .btn-blue:focus{
color: $blue;
background-color: $white; 
border-color: $white;
}

.btn-orange:hover, .btn-orange:focus{
color: $orange;
background-color: $white; 
border-color: $white;
}

.btn-white:hover, .btn-white:focus{
color: $white;
background-color: $mediumgray; 
border-color: $mediumgray;
}

.btn-prod-color, .btn-prod-size {
margin:0px;
padding:0px;
background-color: $white; 
border-color: $white;
border-width: 0.4em;
color: $mediumgray;
min-width:3em;
min-height:3em;

}

.btn-prod-color{
    color: transparent; 
}

.btn-prod-size:hover, .btn-prod-size:focus{
background-color: $lightgray; 
border-color: $lightgray;
}

$prod-gray: #6f807a;
$prod-white: #fcfdff;
$prod-blue: #1953fd;
$prod-black: #000000;
$prod-white: #fcfdff;
$prod-yellow: #fffb3a;
$prod-green:#00df02;
$prod-red: #fa1d2c;

.btn-prod-gray{
background-color: $prod-gray;
border-color: $prod-gray;
}
.btn-prod-white{
background-color: $prod-white;
border-color: $prod-white;
}
.btn-prod-blue{
background-color: $prod-blue;
border-color: $prod-blue;
}
.btn-prod-red{
background-color: $prod-red;
border-color: $prod-red;
}
.btn-prod-black{
background-color: $prod-black;
border-color: $prod-black;
}
.btn-prod-yellow{
background-color: $prod-yellow;
border-color: $prod-yellow;
}
.btn-prod-green{
background-color: $prod-green;
border-color: $prod-green;
}

.btn-prod-color:hover, .btn-prod-color:focus{
border-color:$mediumgray;
}
