<footer class="footer">
<div class="container footer-container">
  <div class="row">
	<div class="col-sm-2 text-center hidden-xs hidden-sm"><a href="./"><img src="/assets/store/RAD_Mark_Black.svg" width="50px" /></a></div>
	<div class="col-sm-4"><h3>About</h3><p>RAD is an NYC-based design and fabrication outfit obsessed with the efficient production of heirloom-quality goods that are durable, functional, and fun.</p></div>
	<div class="col-sm-3"><h3>Contact</h3><p>
917.587.2557  NYC<br />
512.695.5153  ATX<br />
Orders@RADfurniture.com</p>
</div>
	<div class="col-sm-3"><h3>Resources</h3>
	<ul>
  <erb loud>render partial: 'spree/static_content/static_content_footer'</erb>
  </ul>
  </div>
  </div>
	<div class="text-center copyright"><p>COPYRIGHT 2015 - RAD FURNITURE</p></div>

  </footer>